<div class="product clearfix">
    <form class="adminEditForm" action="/admin/editItem/{{product.id}}" method="POST">
        <div class="row">
            <h2>{{product.title}}</h2>
        </div>
        <input type="hidden" name="id" value="{{product.id}}">
        <div class="row">
            <input type="text" name="title" value="{{product.title}}">
        </div>
        <div class="row">
            <input type="text" name="price" value="{{product.price}}">
        </div>
        <div class="row">
            <textarea name="desc">{{product.desc}}</textarea>
        </div>
        <div class="row">
            <button type="submit">Update!</button>
        </div>
    </form>
</div>