<div class="item">
    <div class="title">{{this.title}}</div>
    <div class="img-block">
        <img src="{{this.imgUrl}}" alt="image of {{this.title}}">
    </div>
    <div class="info-block">
        <div class="price">{{this.price}}</div>
        <a href="/admin/item/{{this.id}}" class="details">Details</a>
    </div>
    <div class="update-block">
        <a href="/admin/editItem/{{this.id}}" class="update-link">Edit</a>
        <a href="/admin/delete/{{this.id}}" class="update-link">Delete</a>
    </div>
</div>