<div class="product clearfix">
    <div class="full-img">
        <img src="{{product.imgUrl}}" alt="image of {{product.title}}">
    </div>
    <div class="full-info">
        <div class="title">{{product.title}}</div>
        <div class="price">{{product.price}}</div>
        <div class="description">{{product.desc}}</div>
    </div>
</div>