<div class="product clearfix">
    <div class="full-img">
        <img src="{{product.imgUrl}}" alt="image of {{product.title}}">
    </div>
    <div class="full-info">
        <div class="title">{{cproduct.title}}</div>
        <div class="price">{{product.price}}</div>
        <div class="description">{{product.desc}}</div>
        <div class="update-block">
            {{#if isAdmin}}
            <a href="/admin/editItem/{{product.id}}" class="update-link">Edit</a>
            <a href="/admin/delete/{{product.id}}" class="update-link">Delete</a>
            {{/if}}
        </div>
    </div>
</div>